/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #A1A1A1;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */

.content {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h5 {
	background-color: #424242;
	border-radius: 4px;
	border: 1px solid;
	padding: 15px;
	color: white;
	width: 250px;
	height: 50px;

}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #424242;
	font-size: 0;
	line-height: 0;
	margin-left: 180px;
	margin-top: -1px;
}

.goal {
	width: 250px;
  	height: 13px;
  	border-radius: 3px solid; 
  	border: 1px solid #eaeaea;
  	background-color: #F9F9F9;
  	margin-top: 5px;
}

.box {
	font-size: .75em;
	border: 1px solid #eaeaea;
	height: 200px;
	width:	250px;
	font-family: sans-serif;
	text-align: justify;
	padding: 15px;

}

p {
	padding-right: 20px;
}

.btn {
	width: 120px;
	height: 30px;
	border-radius: 4px;
	border: 1px solid #eaeaea;
	color: #8E8E8E;
	background: #FAFAFA;
	margin-bottom: 10px;
}


div.text{
position:relative;
}

div.text input{
  padding-left: 15px;
  width: 100px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid #eaeaea;
}

div.text:after{
position: absolute;
    left: 6px;
    top: 11px;
    content: '$';
    color: gray;
    font-size: 15px;
}

.donatebtn{
	width: 100px;
	height: 40px;
	border-radius: 4px;
	border: 1px solid #1CBC2C;
	background-color: #1CBC2C;
	color: white;
	font-size: 15px;
	margin-bottom: 10px;
}

.bottom {
	display: flex;
	justify-content: center;
	padding-top: 10px;
}


a {
	text-decoration: none;
	color: #20A1D4;
	font-family: Rockwell;

}

.space {
    margin-left: 15px;
}


progress::-moz-progress-bar {
  background: #EF5F3C;
}

progress::-webkit-progress-bar {
  background: #EF5F3C;
}
